
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login:</ion-card-title>      
    </ion-card-header>
  <div class="centralizado">
    <ion-card-content>
      <ion-item>
        <ion-input clearInput="" type="email" label="E-mail:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input clearInput="" type="password" label="Senha:" ></ion-input>
      </ion-item>
      <ion-button expand="full">
             <ion-icon slot="end" name="caret-forward-circle-outline"> </ion-icon>
                 OK
      </ion-button> 
    </ion-card-content>

  </div>
  </ion-card>



</ion-content>